{% extends 'customer_dashboard.html' %}
{% block content %}
	{{ super() }}
	<section class="section">
		<div class="container1">
	<form action="#" method="POST">
		
		<div class="form-control-group">
			<label for="" class="form-control-label"></label>
			<input type="text" class="form-control-input" name='password' placeholder="New password">
		</div>
	    <br>
		<div class="form-control-group">
			<label for="" class="form-control-label"></label>
			<input type="text" class="form-control-input" name='confirm_password' placeholder="Confirm new password">
		</div><br>
        <br>
		<button class="btn btn-primary">Change password</button>
	
	</form>
</div>
</section>
<style>
	.container1{
			position: absolute;
			padding: 50px;
			margin-left: 40%;
			margin-right: 40px;
			margin-top: 223px;
			background-color: rgb(105, 173, 150);
			border-radius: 20px;
		}
	.section{
		margin-top: 205px;
    
	}
</style>
{% endblock %}